/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-size: 110%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.about-me img {
  max-height: 200px;
  }

p {
  color: black;
  text-w;
}

h5 {
  font-weight: bold;
  color :#039be5;
}